
.message-bg-0 {
    background: #ccff99 /*{c-bup-background-color}*/;
    color: #222 /*{c-bup-color}*/;
    background-image: -webkit-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #CCFF99 /*{c-bhover-background-end}*/);
    background-image: -moz-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #CCFF99 /*{c-bhover-background-end}*/);
    background-image: -ms-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #CCFF99 /*{c-bhover-background-end}*/);
    background-image: -o-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #CCFF99 /*{c-bhover-background-end}*/);
    background-image: linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #CCFF99 /*{c-bhover-background-end}*/);
}

.message-bg-1 {
    background: #eee /*{c-bup-background-color}*/;
    color: #222 /*{c-bup-color}*/;
    background-image: -webkit-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -moz-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -ms-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -o-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
}

.message-bg-2 {
    background: #b7deff /*{c-bup-background-color}*/;
    color: #222 /*{c-bup-color}*/;
    background-image: -webkit-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #b7deff /*{c-bhover-background-end}*/);
    background-image: -moz-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #b7deff /*{c-bhover-background-end}*/);
    background-image: -ms-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #b7deff /*{c-bhover-background-end}*/);
    background-image: -o-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #b7deff /*{c-bhover-background-end}*/);
    background-image: linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #b7deff /*{c-bhover-background-end}*/);
}

.message-bg-3 {
    background: #ff928e /*{c-bup-background-color}*/;
    color: #222 /*{c-bup-color}*/;
    background-image: -webkit-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #ff928e /*{c-bhover-background-end}*/);
    background-image: -moz-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #ff928e /*{c-bhover-background-end}*/);
    background-image: -ms-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #ff928e /*{c-bhover-background-end}*/);
    background-image: -o-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #ff928e /*{c-bhover-background-end}*/);
    background-image: linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #ff928e /*{c-bhover-background-end}*/);
}

.message-bg-4 {
    background: #eee /*{c-bup-background-color}*/;
    color: #222 /*{c-bup-color}*/;
    background-image: -webkit-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -moz-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -ms-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: -o-linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
    background-image: linear-gradient(#f6f6f6 /*{c-bhover-background-start}*/, #f0f0f0 /*{c-bhover-background-end}*/);
}

.message-type-0 {
    line-height: 23px;
    vertical-align: middle;
}

.message-type-1 {
    line-height: 23px;
    vertical-align: middle;
}

.message-type-2 {
    line-height: 23px;
    vertical-align: middle;
}

.message-type-3 {
    line-height: 23px;
    vertical-align: middle;
}

.message-type-4 {
    line-height: 23px;
    vertical-align: middle;
}

.message-content {
    border-bottom: 1px solid #ccc /*{c-bup-border}*/;
    /*text-shadow: 0 *//*{c-bup-shadow-x}*//* 1px *//*{c-bup-shadow-y}*//* 0 *//*{c-bup-shadow-radius}*//* #fff *//*{c-bup-shadow-color}*//*;*/
}

.message-time {
    line-height: 23px;
    vertical-align: middle;
    text-align: right;
}

.message-from {
    font-size: 14px;
    font-weight: bold;
}

.message-text {
    text-indent: 2em;
}

#People {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    font-size: 14px;
    border: #D2D2D2 1px solid;
}

#people li {
    line-height: 18px;
    vertical-align: middle;
}

#showMsg {
    width: 100%;
    height: 500px;
    border: #D2D2D2 1px solid;
    overflow-x: hidden;
    overflow-y: auto;
}

.emotion {
    width: 42px;
    height: 20px;
    background: url(../img/icon.gif) no-repeat 2px 2px;
    padding-left: 20px;
    cursor: pointer
}

.emotion:hover {
    background-position: 2px -28px
}

.qqFace {
    margin-top: 4px;
    background: #fff;
    padding: 2px;
    border: 1px #dfe6f6 solid;
}

.qqFace table td {
    padding: 0px;
}

.fenge {
    font-size: 12px;
    color: rgb(80, 136, 255);
    text-align: center;
    line-height: 23px;
    vertical-align: middle;
}