@charset "utf-8";
body {
	background: white;
	font: 16px/1.8 Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #918F8F;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.clearfix::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

a {
	text-decoration: none;
    color: #000000;
}
